<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Dashboard </title>
    <link href="<%= nodeAdminUrl %>/css/bootstrap.min.css" rel="stylesheet">
    <link href="<%= nodeAdminUrl %>/css/custom.css" rel="stylesheet">
    <link href="<%= nodeAdminUrl %>/css/font-awosome.css" rel="stylesheet">
    <link href="<%= nodeAdminUrl %>/css/sweetalert2.min.css" rel="stylesheet">
    

</head>
  <body>
    <div class="row">
      <% include ./navbar %>

      
      <div class="col-2">
              <% include ./sidebar %>
      </div>
      <div class="col-9">
        <div class="">
            <%-body -%>
          </div>
    </div>
      <% include ./footer %>
    </div>

</body>

<script src="<%= nodeAdminUrl %>/js/bootstrap.min.js"></script>
<script src="<%= nodeAdminUrl %>/js/sweetalert2.all.min.js"></script>
<script src="<%= nodeAdminUrl %>/js/comman/custom.js"></script>
<script src="<%= nodeAdminUrl %>/js/comman/datatable.js"></script>

<script src="<%= nodeAdminUrl %>/js/dataTables.bootstrap5.min.js"></script>

<script src="<%= nodeAdminUrl %>/js/moment.min.js"></script>

<script src="<%= nodeAdminUrl %>/js/jquery-3.5.1.slim.min.js"></script>
<script src="<%= nodeAdminUrl %>/js/popper.min.js"></script>


</html>